<table class="table">
    <th>
        Фамилия
    </th>
    <th>
        Имя
    </th>
    <th>
        Отчество
    </th>
    <th>
        Email
    </th>
    <th>
        Телефон
    </th>
    <th>
        Роль
    </th>
    <tr ng-repeat="user in users">
        <td>
            {{user.SecondName}}
        </td>
        <td>
            {{user.FirstName}}
        </td>
        <td>
            {{user.PatronomicName}}
        </td>
        <td>
            {{user.Email}}
        </td>
        <td>
            {{user.PhoneNumber}}
        </td>
        <td>
          <select ng-change="addUserToRole(user)" ng-options="role.Description for role in roles track by role.RoleId" ng-model="user.Roles[0]">
        </td>
    </tr>
</table>
