<div class="page-header">
    <p>
        {{salon.Description}}
    </p>
</div>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a ng-href="{{url}}/#services" aria-controls="services" role="tab" data-toggle="tab">Услуги</a>
        </li>
        <li role="presentation">
            <a ng-href="{{url}}/#info" aria-controls="info" role="tab" data-toggle="tab">Доп.инфо</a>
        </li>
        <li role="presentation">
            <a ng-href="{{url}}/#portfolio" aria-controls="portfolio" role="tab" data-toggle="tab">Портфолио</a>
        </li>
        <li role="presentation">
            <a ng-href="{{url}}/#feedback" aria-controls="feedback" role="tab" data-toggle="tab">Отзывы</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="services">
            <br>
            <div ng-hide="category">
                <div ng-repeat="row in salonCategories">
                    <div class="row">
                        <div ng-repeat="category in row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <a class="btn btn-default form-control" ng-href="{{pathabs}}/{{category.Category.Alias}}">
                                        {{category.Category.Name}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="category">
                <table class="col-sm-12">
                    <tr>
                        <th class="col-sm-6">Вид услуг</th>
                        <th class="col-sm-3">Стоимость</th>
                        <th class="col-sm-3">Запись</th>
                    </tr>
                    <tr ng-repeat="service in services.Services">
                        <td class="col-sm-6">{{service.Service.Name}}</td>
                        <td class="col-sm-3">{{service.Price.Min}}
                            <span ng-show="service.Price.Max">
                                -
                                {{service.Price.Max}}</span>
                        </td>
                        <td class="col-sm-3">
                            <a ng-show="isAuth" class="btn btn-default" ng-click="scheduleClick(service)">Записаться</a>
                            <button ng-show="!isAuth" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                                Записаться
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="service in services.CustomServices">
                        <td class="col-sm-6">{{service.Name}}</td>
                        <td class="col-sm-3">{{service.Price.Min}}
                            <span ng-show="service.Price.Max">
                                -
                                {{service.Price.Max}}</span>
                        </td>
                        <td class="col-sm-3">
                            <a ng-show="isAuth" class="btn btn-default" ng-href="#/schedule/{{salonId}}/{{service.Service.Id}}">Записаться</a>
                            <button ng-show="!isAuth" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                                Записаться
                            </button>
                        </td>
                    </tr>
                </table>
                <a class="btn btn-default" ng-href="#{{path}}">Вернуться</a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="info">
            <div class="row">
                <div class="col-sm-2">
                    <small>Адрес:</small>
                </div>
                <div class="col-sm-10">
                    <span ng-show="salon.City">
                        г.
                        {{salon.City.Name}}
                    </span>
                    <span ng-show="salon.Street">
                        ул.
                        {{salon.Street.Name}}
                    </span>
                    <span ng-show="salon.House">
                        ,дом
                        {{salon.House}}
                    </span>
                    <span ng-show="salon.Floor">
                        ,этаж
                        {{salon.Floor}}
                    </span>
                    <span ng-show="salon.Office">
                        ,офис
                        {{salon.Office}}
                    </span>
                </div>
            </div>

            <div class="row" ng-if="salon.Phones.length>0">
                <div class="col-sm-2">
                    <small>Телефоны:</small>
                </div>
                <div class="col-sm-10">
                    <div ng-repeat="phone in salon.Phones">
                        <a ng-href="tel:+{{phone.Number}}">+{{phone.Number}}</a>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="salon.Emails.length>0">
                <div class="col-sm-2">
                    <small>Email:</small>
                </div>
                <div class="col-sm-10">
                    <div ng-repeat="email in salon.Emails">
                        <a ng-href="mailto:{{email.Address}}">{{email.Address}}</a>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="salon.Links.length>0">
                <div class="col-sm-2">
                    <small>Сайт:</small>
                </div>
                <div class="col-sm-10">
                    <div ng-repeat="link in salon.Links">
                        <div ng-if="link.LinkType.Name=='Url'">
                            <a ng-href="http://{{link.Address}}">{{link.Address}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="salon.WorkTimes.length>0">
                <div class="col-sm-2">
                    <small>Режим работы:</small>
                </div>
                <div class="col-sm-10">
                    <div ng-repeat="wt in salon.WorkTimes">
                        <div class="row">
                            <div class="col-sm-3">
                                <p ng-class="setDayOfWeek(wt)">{{wt.DayOfWeek.Name}}
                                </p>
                            </div>
                            <div class="col-sm-5">
                                <p ng-class="setDayOfWeek(wt)">{{wt.Open}}-{{wt.Close}}
                                    {{setWorkTime(wt)}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="salon.WorkWithProduction">
                    <small>Мы работаем с продукцией:</small>
                </div>
                <div class="col-sm-10">
                    {{salon.WorkWithProduction}}
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="portfolio">
            <div ng-repeat="category in salon.Categories">
                <h1>{{category.Category.Name}}</h1>
                <div class="row" ng-repeat="row in category.chunked">
                    <div ng-repeat="col in row" class="col-md-6">
                        <div class="thumbnail">
                            <img ng-src="{{portfolioPath(col)}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="feedback">
            <br>
            <button type="button" class="btn btn-default" ng-show="reviewPanelVisible()" ng-click="reviewEditMode = !reviewEditMode">Оставить отзыв</button>
            <form ng-show="reviewPanelVisible() && reviewEditMode" ng-submit="reviewSubmit()">
                <div class="form-group">
                    <label class="col-sm-2">Ваш отзыв</label>
                    <div class="col-sm-10">
                        <textarea ng-model="review.Text" class="form-control" rows="5" maxlength="300"></textarea>
                    </div>
                </div>
                Осталось :
                {{300-review.Text.length}}
                <div class="form-group">
                    <label class="col-sm-2">Ваша оценка</label>
                    <div class="col-sm-10">
                        <span uib-rating ng-model="review.Rating" max="5" read-only="false" aria-labelledby="default-rating" ng-style="getStyle(review.Rating)"></span>
                    </div>
                </div>
                <input type="submit" class="btn btn-default" value="Отправить">
                <label>Отзыв будет виден после проверки модератором</label>
                <span class="label label-warning" ng-show="reviewError">Не удалось добавить ваш отзыв</span>
            </form>
            <br>
            <div ng-hide="reviewPanelVisible()">
                Чтобы оставить отзыв, нужно
                <a href="#/register">зарегистрироваться</a>
                или
                <a href="#/login">войти</a>
            </div>
            <div ng-hide="reviews">
                Пока нету ни одного отзыва.
            </div>
            <br>
            <table class="table table-hover">
                <col width="50px"/>
                <col width="100px"/>
                <tr ng-repeat="r in reviews">
                    <td>
                        {{r.User}}
                    </td>
                    <td>
                        <span uib-rating ng-model="r.Rating" max="5" read-only="true" aria-labelledby="default-rating" ng-style="getStyle(r.Rating)"></span>
                    </td>
                    <td>
                        {{r.Text}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Онлайн запись</h4>
            </div>
            <div class="modal-body">
                <p>Для возможности онлайн записи, вы должны пройти регистрацию</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <a class="btn btn-primary" href="#/register">Регистрация</a>
            </div>
        </div>
    </div>
</div>
