<div ng-show="article">
    <h1>{{article.Title}}</h1>
    <div class="row">
        <div class="col-sm-4">
            <img class="newsImage" ng-src="{{pathToImage(article.TitleImage.Image)}}" align='left'/>
        </div>
        <div class="col-sm-8">
            <h3>{{article.Preview}}</h3>
        </div>
    </div>
    <div ta-bind="text" ng-model="article.Body" ta-readonly='disabled'></div>
</div>
<div ng-hide="article">
    <div ng-repeat="a in news">
        <div class="row">
            <div class="col-sm-3">
                <img class="newsImage" ng-src="{{pathToImage(a.TitleImage.Image)}}" align='left'/>
            </div>
            <div class="col-sm-9">
                <h2>{{a.Title}}</h2>
                <p class="text-align-justify">
                    {{a.Preview}}
                </p>
                <a class="text-right" ng-href="#/news/{{a.Id}}">Подробнее</a>
            </div>
        </div>
    </div>
</div>
{{authentication}}
