<form ng-submit="submit()">
    <div class="form-group row">
        <label class="col-sm-2" for="service">Услуга</label>
        <p class="col-sm-10">{{service}}</p>
    </div>
    <div class="form-group row">
        <label class="col-sm-2" for="address">Адрес салона</label>
        <p class="col-sm-10">{{address}}</p>
    </div>
    <div ng-show="haveSchedule">
        <div class="form-group row">
            <label class="col-sm-2" for="address">Время записи</label>
            <div class="col-sm-7">
                <div uib-datepicker ng-model="date" class="well well-sm" datepicker-options="options"></div>
            </div>
            <div class="col-sm-3">
                <div uib-timepicker ng-model="date" hour-step="1" minute-step="15" show-meridian="ismeridian"></div>
            </div>
        </div>
        <small>С вами свяжутся если это время занято.</small>
        <br>
        <button class="btn btn-default" type="submit">Записаться</button>
    </div>
    <a class="btn btn-default" ng-href="#/salon/{{salonId}}">Отмена</a>
</form>
