<form name="outerForm" class="tab-form-demo">
    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Банер">
            <br>
            <form>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2">Выберите файл</label>
                        <div class="col-sm-10">
                            <button class="btn btn-default" type="button" ng-click="openModal()">Загрузить</button>
                            <small>Желательный размер баннера 960x250</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2">Стоимость баннера на главной странице</label>
                        <div class="col-sm-10">
                            {{bannerCost.Cost}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2">Стоимость услуг дизайнера</label>
                        <div class="col-sm-10">
                            {{designerCost.Cost}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2">Нужны услуги дизайнера?</label>
                        <div class="col-sm-10">
                            Нет
                            <switch ng-model="banner.NeedDesigner" class="green"></switch>
                            Да
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2">Итоговая стоимость</label>
                        <div class="col-sm-10">
                            <span ng-show="bannerNeedDesigner">{{bannerCost.Cost+designerCost.Cost}}
                                руб.</span>
                            <span ng-hide="bannerNeedDesigner">{{bannerCost.Cost}}
                                руб.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2">Ваши пожелания</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="banner.message">
                        </div>
                    </div>
                </div>
                <input type="submit" ng-show="banner.image" ng-click="submitBanner()" value="Отправить">
            </form>
            <table class="table">
                <th>Баннер</th>
                <th>Статус</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Сообщение</th>
                <th>Стоимсоть</th>
                <tr ng-repeat="banner in banners">
                    <td>
                        <div class="thumbnail"><img style="max-height: 50px;" ng-src="{{bannerPath(banner.Image)}}"/>
                        </div>
                    </td>
                    <td>
                        <span ng-show="banner.IsActive">активен</span>
                        <span ng-show="!banner.IsActive">не активен</span>
                    </td>
                    <td>
                        {{banner.StartDate | date:'yyyy-MM-dd'}}
                    </td>
                    <td>
                        {{banner.EndDate | date:'yyyy-MM-dd'}}
                    </td>
                    <td>
                        {{banner.Message}}
                    </td>
                    <td>
                        <span ng-show="!banner.DesignerCost.Cost">{{banner.Cost.Cost}}
                            руб.</span>
                        <span ng-show="banner.DesignerCost.Cost">{{banner.DesignerCost.Cost + banner.Cost.Cost}}
                            руб.</span>
                    </td>
                </tr>
            </table>
        </uib-tab>
        <uib-tab index="1" heading="Записи">

            <form novalidate>
                <h4>Хотите подключить Online запись?</h4>
                При подключении Online записи клиент сможет подать заявку на удобное время и дату, сможет осуществить прямой звонок в салон. А также ему будет доступно напоминание об записи.
                <br>
                <span>
                    Итого:
                    {{scheduleCost.Cost}}
                    руб.
                    <input class="btn btn-default" type="submit" ng-click="submitSchedule()" value="Отправить">
                </span>
            </div>
        </form>

        <table class="table">
            <th>Статус заявки</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Стоимсоть</th>
            <tr ng-repeat="schedule in scheduleRequests">
                <td>
                    <span ng-show="schedule.IsActive">активна</span>
                    <span ng-show="!schedule.IsActive">не активна</span>
                </td>
                <td>
                    {{schedule.StartDate | date:'yyyy-MM-dd'}}
                </td>
                <td>
                    {{schedule.EndDate | date:'yyyy-MM-dd'}}
                </td>
                <td>
                    <span>{{schedule.Cost.Cost}}
                        руб.</span>
                </td>
            </tr>
        </table>
    </uib-tab>
    <uib-tab index="2" heading="Акции">
        <br>
        <form>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Выберите файл</label>
                    <div class="col-sm-10">
                        <button class="btn btn-default" type="button" ng-click="openModalPromotion()">Загрузить</button>
                        <small>Желательный размер баннера 200x200</small>
                    </div>
                </div>
                <div ng-show="promotion.Image">
                    <img ng-src="{{promotion.Image}}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Стоимость размещения акции</label>
                    <div class="col-sm-10">
                        {{promotionCost.Cost}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Стоимость услуг дизайнера</label>
                    <div class="col-sm-10">
                        {{promotionDesignerCost.Cost}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Нужны услуги дизайнера?</label>
                    <div class="col-sm-10">
                        Нет
                        <switch ng-model="promotion.NeedDesigner" class="green"></switch>
                        Да
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Итоговая стоимость</label>
                    <div class="col-sm-10">
                        <span ng-show="promotion.IsNeedDesigner">{{promotionCost.Cost+promotionDesignerCost.Cost}}
                            руб.</span>
                        <span ng-hide="promotion.IsNeedDesigner">{{promotionCost.Cost}}
                            руб.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Ваши пожелания</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" ng-model="promotion.Message">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Заголовок акции</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" ng-model="promotion.Title">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Описание акции</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" ng-model="promotion.Description">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Категории</label>
                    <div class="col-sm-10">
                        <label ng-repeat="category in categories">
                            <input type="checkbox" checklist-model="promotion.Categories" checklist-value="category">
                            {{category.Name}}
                        </label>
                    </div>
                </div>
            </div>
            <input type="submit" ng-show="promotion.categories.length!=0 && promotion.Image" ng-click="submitPromotion()" value="Отправить">
        </form>
        <table class="table">
            <th>Баннер</th>
            <th>Статус</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Заголовок</th>
            <th>Стоимсоть</th>
            <tr ng-repeat="promotion in promotoionsRequest">
                <td>
                    <div class="thumbnail">
                        <img style="max-height: 100px;" ng-src="{{promotionPath(promotion.Image)}}"/>
                    </div>
                </td>
                <td>
                    <span ng-show="promotion.IsActive">активен</span>
                    <span ng-show="!promotion.IsActive">не активен</span>
                </td>
                <td>
                    {{promotion.StartDate | date:'yyyy-MM-dd'}}
                </td>
                <td>
                    {{promotion.EndDate | date:'yyyy-MM-dd'}}
                </td>
                <td>
                    {{promotion.Title}}
                </td>
                <td>
                    <span ng-show="!promotion.PaidServicePromotion.DesignerCost.Cost">{{promotion.Cost.Cost}}
                        руб.</span>
                    <span ng-show="promotion.PaidServicePromotion.DesignerCost.Cost">{{promotion.DesignerCost.Cost + promotion.Cost.Cost}}
                        руб.</span>
                </td>
            </tr>
        </table>

    </uib-tab>
    <uib-tab index="3" heading="Вакансии">        
        <form name="vacancyForm" ng-submit="submitVacancy()" novalidate>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Стоимость услуги вакансии</label>
                    <div class="col-sm-10">
                        {{vacancy.Cost.Cost}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2">Должность</label>
                <div class="col-sm-10">
                    <input
                        type="text"
                        name="inputVacancyName"
                        typeahead-on-select="selectVacancy(v)"
                        ng-model="vacancy.VacancyName"
                        value="Введите должность"
                        uib-typeahead="v as v.Name for v in vacancyNames | filter:$viewValue"
                        class="form-control"
                        required=""
                        maxlength=50>
                    <div role="alert">
                        <span class="error" ng-show="vacancyForm.inputVacancyName.$error.required">
                            Не заполнено</span>
                        <span class="error" ng-show="vacancyForm.inputMaxPayment.$error.number">
                            Not valid number!</span>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2">Зарплата с вычетом налогов</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" name="inputMinPayment" ng-model="vacancy.MinPayment" minlength="0" required>
                    <span ng-show="vacancyForm.inputMinPayment.$error.minlength" class="label label-warning">Не заполнено обязательное поле</span>
                </div>
                <div class="col-sm-3">
                    <input type="number" class="form-control" name="inputMaxPayment" ng-model="vacancy.MaxPayment" maxlength="7">
                    <span ng-show="vacancyForm.inputMaxPayment.$error.maxlength" class="label label-warning">Не более 7</span>
                </div>
                <div class="col-sm-1">
                    <label>%
                    </label>
                    <input type="checkbox" ng-model="vacancy.IsPercent">
                </div>
                <div class="col-sm-3">
                    <input type="number" class="form-control" name="inputPercent" ng-model="vacancy.Percent" max="100" min="0" ng-disabled="!vacancy.IsPercent">
                    <span ng-show="vacancyForm.inputPercent.$error.max" class="label label-warning">Не более 100</span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Описание</label>
                    <div class="col-sm-10">
                        <textarea rows="4" cols="50" name="inputText" ng-model="vacancy.Text" maxlength="1000"></textarea>
                        Осталось
                        {{1000-vacancy.Text.length}}
                        символов.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Опыт работы</label>
                    <div class="col-sm-10">
                        <select ng-model="vacancy.Experience" ng-options="e as e.Text for e in expirience"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Город</label>
                    <div class="col-sm-10">
                        <input type="text" name="inputCity" typeahead-on-select="selectCity(city)" ng-model="vacancy.City" uib-typeahead="city as city.Name for city in cities | filter:$viewValue | limitTo:8" class="form-control" required="">
                        <span ng-show="vacancyForm.inputCity.$error.required&&(vacancyForm.$submitted || vacancyForm.inputCity.$touched)" class="label label-warning">Введите название города</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2">Улица</label>
                    <div class="col-sm-10">
                        <input type="text" name="inputStreet" ng-model="vacancy.Street" uib-typeahead="street as street.Name for street in streets | filter:$viewValue | limitTo:8" class="form-control" required="" ng-disabled="vacancy.City==null || vacancy.City==''">
                        <span ng-show="vacancyForm.inputStreet.$error.required&&(vacancyForm.$submitted || vacancyForm.inputStreet.$touched)" class="label label-warning">Введите название улицы</span>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2">Номер дома</label>
                <div class="col-sm-10">
                    <input class="form-control" name="inputHouse" type="text" ng-model="vacancy.House" maxlength="10" required>
                    <span ng-show="vacancyForm.inputHouse.$error.maxlength &&(vacancyForm.$submitted || vacancyForm.inputHouse.$touched)" class="label label-warning">Не более 10</span>
                    <span ng-show="vacancyForm.inputHouse.$error.required&&(vacancyForm.$submitted || vacancyForm.inputHouse.$touched)" class="label label-warning">Введите номер дома</span>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2">Контактное лицо</label>
                <div class="col-sm-10">
                    <input class="form-control" name="inputContactName" type="text" ng-model="vacancy.ContactName" maxlength="50" required>
                    <span ng-show="vacancyForm.inputContactName.$error.maxlength &&(vacancyForm.$submitted || vacancyForm.inputContactName.$touched)" class="label label-warning">Не более 50</span>
                    <span ng-show="vacancyForm.inputContactName.$error.required&&(vacancyForm.$submitted || vacancyForm.inputContactName.$touched)" class="label label-warning">Введите ФИО контактного лица</span>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" name="inputContactEmail" type="email" ng-model="vacancy.Email.Address" maxlength="50" required>
                    <span ng-show="vacancyForm.inputContactEmail.$error.maxlength &&(vacancyForm.$submitted || vacancyForm.inputContactEmail.$touched)" class="label label-warning">Не более 50</span>
                    <span ng-show="vacancyForm.inputContactEmail.$error.required&&(vacancyForm.$submitted || vacancyForm.inputContactEmail.$touched)" class="label label-warning">Введите Email контактного лица</span>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2">Номер телефона</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="InputPhone" ng-model="vacancy.Phone.Number" ui-mask="+9(999)999-9999" ui-mask-placeholder ui-mask-placeholder-char=" " required>
                    <span ng-show="vacancyForm.InputPhone.$error.maxlength &&(vacancyForm.$submitted || vacancyForm.InputPhone.$touched)" class="label label-warning">Не более 12</span>
                    <span ng-show="vacancyForm.InputPhone.$error.required&&(vacancyForm.$submitted || vacancyForm.InputPhone.$touched)" class="label label-warning">Введите номер телефона контактного лица</span>
                </div>
            </div>
            <span ng-show="vacancy.errorCallback" class="label label-warning">{{vacancy.errorCallback}}</span>
            <input type="submit" ng-disabled="!vacancyForm.$valid" value="Отправить">
        </div>
    </form>

    <table class="table">
        <th>Статус заявки</th>
        <th>Вакансия</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Стоимсоть</th>
        <tr ng-repeat="vacancy in vacancies">
            <td>
                <span ng-show="vacancy.IsActive">активна</span>
                <span ng-show="!vacancy.IsActive">не активна</span>
            </td>
            <td>{{vacancy.VacancyName.Name}}</td>
            <td>{{vacancy.StartDate | date:'yyyy-MM-dd'}}</td>
            <td>{{vacancy.EndDate | date:'yyyy-MM-dd'}}</td>
            <td>
                <span>{{vacancy.Cost.Cost}}
                    руб.</span>
            </td>
        </tr>
    </table>

</uib-tab>
</uib-tabset>
</form>
