<div ng-repeat="firm in firms">
    <div ng-repeat="v in firm.Vacancies">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{v.VacancyName.Name}}
                    <small>
                        <span class="text-right">
                            от
                            {{v.MinPayment}}
                        </span>
                        <span class="text-right" ng-show="v.MaxPayment>0">
                            до
                            {{v.MaxPayment}}
                        </span>
                    </small>
                </h3>
            </div>
            <div class="panel-body">                
                <dl>
                    <dt>Фирма</dt>
                    <dd>
                        <a ng-href="#salon/{{firm.Id}}">{{firm.Name}}</a>
                    </dd>
                    <dt>Город</dt>
                    <dd>{{v.City.Name}}</dd>
                    <dt>Улица</dt>
                    <dd>{{v.Street.Name}}</dd>
                    <dt>Дом</dt>
                    <dd>{{v.House}}</dd>
                    <dt>Опыт</dt>
                    <dd>{{v.Experience.Text}}</dd>
                    <dt>Описание</dt>
                    <dd>{{v.Text}}</dd>
                    <dt>Контактное лицо</dt>
                    <dd>{{v.ContactName}}</dd>
                    <dt>Телефон</dt>
                    <dd>{{v.Phone.Number}}</dd>
                    <dt>Email</dt>
                    <dd>{{v.Email.Address}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
