<div class="row">
    <label class="col-sm-2">Название салона:</label>
    <div class="col-sm-10">
        <input ng-model="salonName" class="form-control">
    </div>
</div>
<br>
<div ng-hide="newSchedule.isVisible">
    <button ng-hide="newSchedule.isVisible" type="button" ng-click="newSchedule.isVisible=true">Добавить</button>
</div>
<form ng-show="newSchedule.isVisible" name="Form">
    <div class="form-group">
        <label>Название салона:</label>
        <input type="text" name="salonName" ng-model="newSchedule.salon" uib-typeahead="salon as salon.Name for salon in salons | filter:$viewValue" required/>
        <span class="label label-warning" ng-show="Form.salonName.$error.required">Вы не заполнили это поле</span>
    </div>
    <div class="form-group">
        <label>Статус:</label>
        <select class="form-control" ng-options="s.value as s.text for s in state" ng-model="newSchedule.IsActive"></select>
    </div>
    <div class="form-group">
        <label>От:</label>
        <p class="input-group col-sm-5">
            <input
                uib-datepicker-popup="{{format}}"
                type="text"
                clear-text="Очистить"
                close-text="Закрыть"
                current-text="Сегодня"
                class="form-control"
                uib-datepicker-popup
                ng-model="newSchedule.StartDate"
                is-open="newSchedule.startOpened"
                datepicker-options="dateOptions"
                ng-required="true">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="newSchedule.startOpened=true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <div class="form-group">
        <label>До:</label>
        <p class="input-group col-sm-5">
            <input
                uib-datepicker-popup="{{format}}"
                type="text"
                clear-text="Очистить"
                close-text="Закрыть"
                current-text="Сегодня"
                class="form-control"
                uib-datepicker-popup
                ng-model="newSchedule.EndDate"
                is-open="newSchedule.endOpened"
                datepicker-options="dateOptions"
                ng-required="true">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="newSchedule.endOpened=true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <button type="button" ng-click="post(newSchedule)">Сохранить</button>
    <button type="button" ng-click="newSchedule.isVisible=false">Отменить</button>
</form>
<table class="table">
    <th>
        Салон
    </th>
    <th>
        Статус
    </th>
    <th>
        От
    </th>
    <th>
        До
    </th>
    <th>
      Стоимость
    </th>
    <th></th>
    <tr ng-repeat="schedule in schedules | filter:salonName">
        <td>
            {{schedule.salon}}
        </td>
        <td>
            <select ng-change="update(schedule)" class="form-control" ng-options="s.value as s.text for s in state" ng-model="schedule.IsActive"></select>
        </td>
        <td>
            <p class="input-group">
                <input
                    ng-change="update(schedule)"
                    uib-datepicker-popup="{{format}}"
                    type="text"
                    clear-text="Очистить"
                    close-text="Закрыть"
                    current-text="Сегодня"
                    class="form-control"
                    uib-datepicker-popup
                    ng-model="schedule.StartDate"
                    is-open="schedule.startOpened"
                    datepicker-options="dateOptions"
                    ng-required="true"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="startOpen(schedule)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </td>
        <td>
            <p class="input-group">
                <input
                    ng-change="update(schedule)"
                    uib-datepicker-popup="{{format}}"
                    type="text"
                    clear-text="Очистить"
                    close-text="Закрыть"
                    current-text="Сегодня"
                    class="form-control"
                    uib-datepicker-popup
                    ng-model="schedule.EndDate"
                    is-open="schedule.endOpened"
                    datepicker-options="dateOptions"
                    ng-required="true"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="endOpen(schedule)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </td>
        <td>
          {{schedule.Cost.Cost}}
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="delete(schedule)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
</table>
