<div ng-repeat="firm in firms">
    <h3>{{firm.Firm}}</h3>
    <div ng-repeat="v in firm.Vacancies">
        <div class="well">
            <form ng-submit="submit(v)">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Вакансия</span>
                        <input type="text" class="form-control" ng-model="v.VacancyName.Name" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">От</span>
                        <input type="text" class="form-control" ng-model="v.MinPayment">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">До</span>
                        <input type="text" class="form-control" ng-model="v.MaxPayment">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Стоимость</span>
                        <input type="text" class="form-control" ng-model="v.Cost.Cost" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Дата от</span>
                        <input type="date" class="form-control" ng-model="v.StartDate" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Дата до</span>
                        <input type="date" class="form-control" ng-model="v.EndDate" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Статус</span>
                        <select ng-model="v.IsActive" class="form-control" ng-options="value.Value as value.Name for value in status" ng-disabled="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Опыт</span>
                        <select ng-model="v.Experience.Id" class="form-control" ng-options="exp.Id as exp.Text for exp in experience"/> 
                    </div>
                </div>

                {{v}}
            </form>
        </div>
    </div>
</div>
