<table class="table">
    <th>
        Салон
    </th>
    <th>
        Услуга
    </th>
    <th>
        Стоимость
    </th>
    <th>
        Статус
    </th>
    <th>
        Дата
    </th>
    <tr ng-repeat="schedule in schedules">
        <td>
            {{schedule.Salon}}
        </td>
        <td>
            {{schedule.Service}}
        </td>
        <td>
            {{schedule.Price}}
        </td>
        <td>
            {{status[schedule.Status]}}
        </td>
        <td>
            {{schedule.Date | date:'yyyy-MM-dd HH:mm'}}
        </td>
    </tr>
</table>
