<h2>Категории услуг</h2>
<div ng-repeat="category in services">
    <div class="checkbox">
        <label>
            <h3><input type="checkbox" ng-click="categoryClick(category)" ng-model="category.Checked">{{category.Category.Name}}</h3>
        </label>
    </div>
    <div ng-show="category.Checked">
        <div class="row">
            <div class="col-sm-8">
                <table class="table">
                    <th></th>
                    <th>Услуги</th>
                    <th>От</th>
                    <th>До</th>
                    <th></th>
                    <tr ng-repeat="service in category.Services">
                        <td>
                            <input type="checkbox" ng-click="serviceClick(service)" ng-model="service.Checked">
                        </td>
                        <td>
                            {{service.Service.Name}}
                        </td>
                        <td><input type="number" ng-change="updateService(service)" ng-model-options="{ debounce: 1000 }" ng-model="service.Price.Min" class="form-control" placeholder="От" ng-disabled="!service.Checked"></td>
                        <td><input type="number" ng-change="updateService(service)" ng-model-options="{ debounce: 1000 }" ng-model="service.Price.Max" class="form-control" placeholder="До" ng-disabled="!service.Checked"></td>
                    </tr>
                    <tr ng-repeat="customService in category.CustomServices">
                        <td></td>
                        <td>
                            <input type="text" ng-change="updateCustomService(category.Category.Id , customService)" ng-model-options="{ debounce: 1000 }" class="form-control" ng-model="customService.Name">
                        </td>
                        <td><input type="number" ng-change="updateCustomService(category.Category.Id , customService)" ng-model-options="{ debounce: 1000 }" ng-model="customService.Price.Min" class="form-control" placeholder="От"></td>
                        <td><input type="number" ng-change="updateCustomService(category.Category.Id , customService)" ng-model-options="{ debounce: 1000 }" ng-model="customService.Price.Max" class="form-control" placeholder="До"></td>
                        <td>
                            <button ng-click="deleteCustomService(category , customService)" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="form-control" type="text" ng-model="category.service.Name" placeholder="Услуга"></td>
                        <td><input type="text" ng-model="category.service.Price.Min" class="form-control" placeholder="От"></td>
                        <td><input type="text" ng-model="category.service.Price.Max" class="form-control" placeholder="До"></td>
                        <td>
                            <button ng-click="postUserService(category)" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6" ng-repeat="portfolio in category.Portfolios">
                        <div class="thumbnail">
                            <button type="button" class='close' ng-click="removePortfolio(category , portfolio)">×</button>
                            <img class="portfolio-min" ng-src="{{portfolioPath(portfolio)}}">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success form-control" ng-click="pickPortfolio(category)">Загрузить фото</button>
            </div>
        </div>
    </div>
</div>
