<div ng-show="isList">
    <form ng-show="messageVisible">
        <div class="row">
            <label class="col-sm-2">Заголовок</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="newTitle.Title"/>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2">Текст</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" ng-model="newTitle.Body"></textarea>
            </div>
        </div>
        <input class="btn btn-default" type="submit" ng-click="submit(newTitle)" value="Отправить">
    </form>
    <button ng-hide="messageVisible" class="btn btn-default" ng-click="messageVisible=true">Написать</button>
    <h4>Сообщения</h4>
    <table class="table table-hover">
        <tr ng-repeat="message in titles" ng-click="click(message)">
            <td>
                {{message.Title}}
            </td>
        </tr>
    </table>
</div>
<div ng-hide="isList">
    <button class="btn btn-default" ng-click="return()">вернуться</button>
    <table class="table table-hover">
        <tr ng-repeat="message in messages.Messages">
            <td>
                {{message.From}} : {{message.Body}}
            </td>
        </tr>
    </table>
    <form>
        <div class="row">
            <label class="col-sm-2">Текст</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" ng-model="newMessage.Body"></textarea>
            </div>
        </div>
        <input class="btn btn-default" type="submit" ng-click="submitMessage(newMessage)" value="Отправить">
    </form>
</div>
