<h1>Заявки от салонов</h1>
<div ng-repeat="s in salons">
    <h3>{{s.Name}}</h3>
    <div ng-repeat="v in s.Vacancies">
        <div class="well">
            <button type="button" class="btn btn-default" ng-click="open3(v)">{{v.VacancyName.Name}}</button>
            <form ng-show="v.opened">
                <div class="form-group">
                    <label>Город</label>
                    <input type="text" class="form-control" ng-model="v.City.Name">
                </div>
                <div class="form-group">
                    <label>Улица</label>
                    <input type="text" class="form-control" ng-model="v.Street.Name">
                </div>
                <div class="form-group">
                    <label>Дом</label>
                    <input type="text" class="form-control" ng-model="v.House">
                </div>
                <div class="form-group">
                    <label>От</label>
                    <input type="text" class="form-control" ng-model="v.MinPayment">
                </div>
                <div class="form-group">
                    <label>До</label>
                    <input type="text" class="form-control" ng-model="v.MaxPayment">
                </div>
                <div class="form-group">
                    <label>Опыт работы</label>
                    <select ng-change="put(v)" ng-model="v.Experience.Id" ng-options="exp.Id as exp.Text for exp in experience.array"/>                    
                </div>
                <div class="form-group">
                    <label>Текст</label>
                    <textarea class="form-control" rows="10" ng-model="v.Text"></textarea>
                </div>
                <div class="form-group">
                    <label>Контактное лицо</label>
                    <input type="text" class="form-control" ng-model="v.ContactName">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" ng-model="v.Email.Address">
                </div>
                <div class="form-group">
                    <label>Стоимость</label>
                    <input type="text" class="form-control" ng-model="v.Cost.Cost">
                </div>
                <div class="form-group">
                    <label>Начало</label>
                    <p class="input-group">
                        <input ng-change="put(v)" type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="v.startDate" is-open="v.openedStartDate" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open(v)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label>Конец</label>
                    <p class="input-group">
                        <input ng-change="put(v)" type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="v.endDate" is-open="v.openedEndDate" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2(v)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label>Статус</label>
                    <select ng-change="put(v)" ng-model="v.IsActive" ng-options="value.Value as value.Name for value in status"/>
                </div>
            </form>
        </div>
    </div>
</div>

<h1>Названия вакансий</h1>
<div ng-repeat="v in vacancyNames">
    <div class="well">
        <form>
            <div class="form-group">
                <label>
                    <b>Номер</b>
                </label>
                <p>{{v.Id}}</p>
            </div>
            <div class="form-group">
                <label>
                    <b>Название</b>
                </label>
                <input type="text" ng-model="v.Name" ng-model-options="{ debounce: 1000 }" ng-change="put2(v)" class="form-control"/>
            </div>
            <div class="form-group">
                <label>
                    <b>Создатель</b>
                </label>
                <p>{{v.CreatorId}}</p>
            </div>
            <div class="form-group">
                <label>
                    <b>Статус</b>
                </label>
                <select ng-change="put2(v)" ng-model="v.IsActive" ng-options="value.Value as value.Name for value in status"/>
            </div>
        </form>
    </div>
</div>

<h1>Опыт работы</h1>
<form ng-submit="submitExperience()" id="formSubmit">
    <div class="well">
        <div class="form-group">
            <label>
                <b>Описание</b>
            </label>
            <input type="text" ng-model="experience.Text" class="form-control" required/>
        </div>
        {{formSubmit.$invalid}}
        <input type="submit" value="Добавить" ng-disabled="formSubmit.$invalid">
    </div>
</form>
<div class="well">
    <div ng-repeat="ex in experience.array">
        <div class="form-group">
            <label>Описание</label>
            <p>{{ex.Text}}</p>
        </div>
    </div>
</div>
