<div ng-repeat="salon in salons">
    <h1>{{salon.Name}}
        <table class="table">
            <th>
                Услуга
            </th>
            <th>
                Стоимость
            </th>
            <th>
                Статус
            </th>
            <th>
                Дата
            </th>
            <th>
                ФИО
            </th>
            <th>
                Телефон
            </th>
            <tr ng-repeat="schedule in salon.Schedules | orderBy:'+ScheduleStatus'">
                <td>
                    <a ng-click="changeService(schedule.Price)">{{schedule.Price.Service.Name}}</a>
                </td>
                <td>
                    {{schedule.Price.Min}}
                    <span ng-show="schedule.Price.Max">
                        -
                        {{schedule.Price.Max}}</span>
                </td>
                <td>
                    <select class="form-control" ng-change="change(schedule,salon)" ng-options="s.value as s.text for s in state" ng-model="schedule.ScheduleStatus"></select>
                </td>
                <td>
                    <a ng-click="open(schedule,salon)">{{schedule.Date | date:'yyyy-MM-dd HH:mm'}}</a>
                </td>
                <td>
                    {{schedule.ApplicationUser.SecondName}}
                    {{schedule.ApplicationUser.FirstName}}
                    {{schedule.ApplicationUser.PatronomicName}}
                </td>
                <td>
                    {{schedule.ApplicationUser.PhoneNumber}}
                </td>
            </tr>
        </table>
    </div>
