<form class="form-horizontal" name="form" ng-submit="submit()">
    <div class="form-group">
        <label class="control-label col-sm-2" for="SalonName">Название салона</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="SalonName" ng-model="salon.Name" maxlength="50">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Логотип</label>
        <div class="col-sm-5">
            <div class="thumbnail">
                <a ng-click="openModal()">
                    <img ng-show="salon.Image.length==0" src="assets/img/no-image.png"/>
                    <img ng-if="salon.Image" ng-src="{{getLogoPath()}}"/>
                </a>
            </div>
        </div>
        <div class="col-sm-5">
            <div ng-show="uploadMode">
                <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea" form-control ngf-resize="{width: 100, height: 100, quality: .8, type: 'image/jpeg', ratio: '1:2', centerCrop: true, pattern='.jpg' , restoreExif: false}">
                    <img-crop image="picFile | ngfDataUrl " result-image="croppedDataUrl " area-type="square " ng-init="croppedDataUrl='assets/img/no-image.png' "></img-crop>
                </div>
                <div class="thumbnail ">
                    <img ng-src="{{croppedDataUrl}} "/>
                </div>
                <button class="btn btn-default " ng-click="upload(croppedDataUrl, picFile.name) ">Сохранить</button>

                <span class="progress " ng-show="progress>= 0">
                    <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                </span>
                <span ng-show="result">Загружено</span>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="IsCashlessPayment">Безналичный расчет</label>
        <div class="col-sm-10">
            нет
            <switch ng-model="salon.IsCashlessPayment" class="green"></switch>
            да
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="IsWifi">Наличие WiFi</label>
        <div class="col-sm-10">
            нет
            <switch ng-model="salon.IsWifi" class="green"></switch>
            да
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="IsWorkAtHome">Выезд на дом</label>
        <div class="col-sm-10">
            нет
            <switch ng-model="salon.IsWorkAtHome" class="green"></switch>
            да
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="SalonStreet">Улица</label>
        <div class="col-sm-4">
            <input typeahead-on-select="streetClick()" type="text" class="form-control" ng-model-options="{ debounce: 1000 }" ng-model="salon.Street" uib-typeahead="street as street.Name for street in streets | filter:$viewValue" placeholder="Улица"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="SalonHouse">Дом</label>
        <div class="col-sm-4">
            <input name="house" type="text" class="form-control" id="SalonHouse" ng-model="salon.House" ng-pattern="/^\d*/?(\d+|[а-я])$/" maxlength="10" required>
            <span class="label label-warning" ng-show="form.house.$error.pattern">Не правильный номер! Используйте символ / для разделения номера</span>
            <span class="label label-warning" ng-show="form.house.$error.required">Это поле не заполнено</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="SalonOffice">Офис/кв</label>
        <div class="col-sm-4">
            <input name="office" type="text" class="form-control" id="SalonOffice" ng-model="salon.Office" ng-pattern="/\d$/" maxlength="3">
            <span class="label label-warning" ng-show="form.office.$error.pattern">Поле должно содержать только цифры</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="SalonFloor">Этаж</label>
        <div class="col-sm-4">
            <input name="floor" type="text" class="form-control" id="SalonFloor" ng-model="salon.Floor" ng-pattern="/\d$/" maxlength="3">
            <span class="label label-warning" ng-show="form.floor.$error.pattern">Поле должно содержать только цифры</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Телефоны</label>
        <div class="col-sm-10">
            <div class="row" ng-repeat="phone in salon.Phones">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="SalonBonuses" ng-model="phone.Number" ui-mask="+9(999)999-9999" ui-mask-placeholder ui-mask-placeholder-char="_">
                </div>
                <div class="col-sm-6">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="savePhone(phone)">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="deletePhone(phone)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="row" ng-show="salon.Phones.length<5">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="SalonBonuses" ng-model="newphone.Number" ui-mask="+9(999)999-9999" ui-mask-placeholder ui-mask-placeholder-char="_">
                </div>
                <div class="col-sm-6">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addPhone()">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="SalonBonuses">Бонусы именинникам</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="SalonBonuses" ng-model="salon.DiscountForBirthday" maxlength="250">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="SalonWorkWithProduction">Работаем с продукцией</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="SalonWorkWithProduction" ng-model="salon.WorkWithProduction" maxlength="250">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="SalonDescription">Описание</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="SalonDescription" ng-model="salon.Description" maxlength="250">
        </div>
    </div>
    <div class="row" ng-repeat="time in times">
        <label class="col-sm-2">{{time.name}}</label>
        <label class="col-sm-1">От</label>
        <div class="col-sm-2">
            <div uib-timepicker ng-model="time.open" ng-model-options="{ debounce: 1000 }" ng-change="changeTime(time)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
        </div>
        <label class="col-sm-1">До</label>
        <div class="col-sm-2">
            <div uib-timepicker ng-model="time.close" ng-model-options="{ debounce: 1000 }" ng-change="changeTime(time)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>
