<form ng-submit="submit()" name="verifyForm">
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2">Код подтверждения</label>
            <div class="col-sm-10">
                <input name="code" type="text" ng-model="code">
            </div>
        </div>
    </div>
    <input class="btn btn-default" type="submit" value="Отправить">
</form>
<span class="label label-warning" ng-show="error">{{error.message}}</span>
