<div ng-repeat="category in categories">
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <img ng-src="{{path(category.category.image)}}">
                <div class="caption">
                    <h3>{{category.category.name}}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div ng-repeat="sup in category.suppliers">
                <h5>{{sup.name}}
                    <small>{{sup.description}}</small>
                </h5>
                <div ng-repeat="cat in sup.categories">
                    <div ng-if="category.category.id==cat.category.id">
                        Товары и услуги:
                        <span ng-repeat="prod in cat.supplierProductions">
                            {{prod.name}}
                            {{$last?'.':','}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
