<table>
    <th>
        Имя
    </th>
    <th>
        Название
    </th>
    <th></th>
    <tr ng-repeat="role in roles">
        <td>
            <input class="form-control" ng-model="role.Name">
        </td>
        <td>
            <input class="form-control" ng-model="role.Description">
        </td>
        <td>
            <button class="btn btn-default" ng-click="put(role)">Сохранить</button>
        </td>
    </tr>
    <tr>
        <td>
            <input class="form-control" ng-model="newrole.Name">
        </td>
        <td>
            <input class="form-control" ng-model="newrole.Description">
        </td>
        <td>
            <button class="btn btn-default" ng-click="post(newrole)">Добавить</button>
        </td>
    </tr>
</table>
