<div class="form-group">
    <div uib-carousel active="active" interval=5000 no-wrap=false>
        <div uib-slide ng-repeat="banner in banners track by $index" index="$index">
            <img ng-src="{{path(banner.Image)}}" style="margin:auto; width:100%" ng-click="bannerClick(banner.FirmId)">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-purple form-control" id="promotions-button" href="#promotions">Àêöèè</a>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-gold form-control" id="top-button" href="#top">Òîï</a>
        </div>
    </div>
</div>
<div class="row-paddings">
    <div class="text-center">
        <div class="zavit"></div>
        <a class="row-header" href="#/hot">
            Горячие предложения</a>
        <div class="zavit-flip"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12" ng-repeat="hot in hotPromotions">
        <div class="thumbnail rounded">
            <img class="rounded-top hot-promotion" ng-src="{{pathHot(hot.Image)}}">
            <div class="caption gold">
                <p class="text-center">
                    {{hot.Title}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row-paddings">
    <div class="text-center">
        <div class="zavit"></div>
        <a class="row-header" href="#/news">
            Статьи и новости</a>
        <div class="zavit-flip"></div>
    </div>
</div>
<div ng-repeat="article in news">
    <div class="row">
        <div class="col-sm-3">
            <img class="newsImage" ng-src="{{pathToImage(article.TitleImage.Image)}}" align='left'/>
        </div>
        <div class="col-sm-9">
            <h2>{{article.Title}}</h2>
            <p class="text-align-justify">
                {{article.Preview}}
            </p>
            <a class="text-right" ng-href="#/news/{{article.Id}}">Подробнее</a>
        </div>
    </div>
</div>
