<div class="row">
    <label class="col-sm-2">Название салона:</label>
    <div class="col-sm-10">
        <input ng-model="salonName" class="form-control">
    </div>
</div>
<br>
<table class="table">
  <th>
    Баннер
  </th>
    <th>
        Салон
    </th>
    <th>
        Статус
    </th>
    <th>
        От
    </th>
    <th>
        До
    </th>
    <th>
      Ст-ть
    </th>
    <th>
      Диз-ер
    </th>
    <th>
      Вес
    </th>
    <th></th>
    <tr ng-repeat="banner in banners | filter:salonName">
      <td>
        <img style="max-height: 50px;" ng-src="{{path(banner.Image)}}" />
      </td>
        <td>
            {{banner.Salon.Name}}
        </td>
        <td>
            <select ng-change="update(banner)" class="form-control" ng-options="s.value as s.text for s in state" ng-model="banner.IsActive"></select>
        </td>
        <td>
            <p class="input-group">
                <input
                    ng-change="update(banner)"
                    uib-datepicker-popup="{{format}}"
                    type="text"
                    clear-text="Очистить"
                    close-text="Закрыть"
                    current-text="Сегодня"
                    class="form-control"
                    uib-datepicker-popup
                    ng-model="banner.StartDate"
                    is-open="banner.startOpened"
                    datepicker-options="dateOptions"
                    ng-required="true"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="startOpen(banner)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </td>
        <td>
            <p class="input-group">
                <input
                    ng-change="update(banner)"
                    uib-datepicker-popup="{{format}}"
                    type="text"
                    clear-text="Очистить"
                    close-text="Закрыть"
                    current-text="Сегодня"
                    class="form-control"
                    uib-datepicker-popup
                    ng-model="banner.EndDate"
                    is-open="banner.endOpened"
                    datepicker-options="dateOptions"
                    ng-required="true"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="endOpen(banner)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </td>
        <td>
          {{banner.Cost.Cost}}
        </td>
        <td>
          {{banner.DesignerCost.Cost}}
        </td>
        <td>
          <input type="text" ng-model="banner.Weight" ng-change="update(banner)">
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="delete(banner)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
</table>
