<div ng-repeat="category in supplierCategories">
    <div class="checkbox">
        <label>
            <h3><input type="checkbox" ng-click="categoryClick(category)" ng-model="category.isChecked">{{category.category.name}}</h3>
        </label>
    </div>
    <div class="well" ng-show="category.isVisible">
        <div class="form-group">
            <span ng-repeat="prod in category.supplierProductions">
                <button type="button" class="btn btn-default" ng-click="remove(prod,category)">
                    {{prod.name}}
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
        <form ng-submit="submit(category)">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">товар или услуга</span>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                    <input type="text" ng-model="category.new" uib-typeahead="category as category.name for category in category.supplierProductionsList | filter:$viewValue | limitTo:8" class="form-control">
                </div>
            </div>
        </form>
    </div>
</div>
