html, body {
    height: 100%;
}

.nav-pills>li>a, .nav-pills>li>a:hover {
    color: black;
    cursor: pointer;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: #C6AB45;
    color: white;
}

.input-group-addon {
    min-width: 200px;
    text-align: left;
}

.footer {
    /*background-color: #7a2697;*/
    background-color: #402558;
}

.news {
    width: 100%;
}

.newsImage {
    margin-top: 35px;
    width: 100%;
}

.newsTitle {
    width: 100px;
}

.portfolio-min {
    max-width: 30px;
    max-height: 100px;
}


/*.thumbnail > img {
    width: 400px;
    height: 250px;
}*/

.category-min {
    max-width: 60px;
    max-height: 40px;
}

.text-align-justify {
    text-align: justify;
}

.rounded {
    border-radius: 5px;
}

.rounded-top {
    border-radius: 5px 5px 0px 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #C6AB45;
}

.nav-pills {
    font-family: Lato-Bold;
    font-size: 15pt;
}

.logo-white {
    background-color: #7a2697;
    color: white;
}

.purple-text {
    color: #7a2697;
}

.bold {
    font-weight: bold;
}

.salonThumbnailPanel {
    height: 710px;
}

.italic {
    font-style: italic;
}

.btn-search {
    background-color: #FFB451;
    color: white;
    height: 48px;
}

.btn-purple {
    background-color: #402558;
    /*background-color: #7a2697;*/
    color: white;
}

.gold {
    background: #C6AB45;
}

.caption.gold {
    height: 48px;
    border-radius: 0px 0px 5px 5px;
}

.caption p {
    color: #ffffff;
    font-family: Lato-Bold;
    font-size: 12pt;
}

.btn-gold {
    background: #C6AB45;
    color: white;
    border-radius: 5px;
}

#logo-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 0px;
}

#logo {
    width: 100%;
    padding-bottom: 20px;
}

#promotions-button {
    color: #ffffff;
    font-family: Jikharev;
    background-color: #402558;
    /*background-color: #7a2697;*/
    font-size: 20pt;
    border-radius: 5px;
}

a#promotions-button {
    line-height: 20px;
}

a#top-button {
    line-height: 20px;
}

.row-header {
    font-family: Lato-Bold;
    font-size: 24pt;
    color: #7a2697;
    text-align: center;
}

.zavit {
    background-image: url("../img/zavit.png");
    width: 91px;
    height: 37px;
    display: inline-block;
}

.row-paddings {
    padding-top: 30px;
    padding-bottom: 30px;
}

.zavit-flip {
    background-image: url("../img/zavit.png");
    width: 91px;
    height: 37px;
    display: inline-block;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#top-button {
    color: #ffffff;
    font-family: Jikharev;
    background: #C6AB45;
    font-size: 20pt;
}

img.isWifi {
    width: 50px;
    height: 50px;
}

img.isChashless {
    width: 50px;
    height: 50px;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    height: 200px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 10px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.close {
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
}

.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

#map {
    height: 360px;
}

#city {
    font-family: Lato-Regular;
    font-size: 12pt;
    vertical-align: bottom;
    float: none;
    display: table-cell;
}

.ui-corner-all>span {
    border-radius: 50%;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    background-color: rgb(62, 42, 88);
}

.ui-slider-horizontal .ui-slider-range {
    background-color: rgb(255, 180, 81);
    height: 3px;
}

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}

.ta-insert-video {
    height: 300px;
}


/*@font-face {
    font-family: Jikharev;
    src: url(../fonts/ZhikharevCTT.ttf);
}*/

@font-face {
    font-family: "Jikharev";
    src: url("../fonts/jikharev.eot?") format("eot"), url("../fonts/jikharev.woff") format("woff"), url("../fonts/jikharev.ttf") format("truetype"), url("../fonts/jikharev.svg#Jikharev") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.ttf);
}

.padding-top {
    padding-top: 30px;
}

.table-nonfluid {
    width: auto !important;
}

table {
    font-size: 10px;
}

td.top-menu-icon {
    padding-right: 20px;
}

td.top-menu {
    padding: 10px 0px 10px 0px;
}

span#top-menu-icon-register {
    background: url(../img/top-menu-icon-register.png) left top;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-right: 20px;
}

span#search-in-services-ico {
    background: url(../img/search-in-services-ico.png) left top;
    width: 17px;
    height: 20px;
    display: block;
    float: left;
}

a.top-menu {
    font-family: Lato-Bold;
    font-size: 10pt;
    color: #7a2697;
}

#slogan {
    font-family: "Jikharev";
    color: #7a2697;
    font-size: 40pt;
}

#search-in-services {
    font-family: Lato;
    font-size: 12pt;
    color: white;
    width: 100%;
}
