<div id="map"></div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input
                                typeahead-on-select="salonChoise(searchParam.Name)"
                                type="text"
                                class="form-control"
                                ng-model="searchParam.Name"
                                uib-typeahead="salon as salon.Name for salon in salonNames | filter:$viewValue"
                                placeholder="Название"
                                ng-model-options='{ debounce: 1000 }'/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="searchParam.Service" uib-typeahead="service as service.Name for service in services | filter:$viewValue" placeholder="Услуга" ng-model-options='{ debounce: 1000 }'/>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="searchParam.Street" uib-typeahead="street as street.Name for street in streets | filter:$viewValue" placeholder="Улица" ng-model-options='{ debounce: 1000 }'/>
                        </div>
                        <div class="form-group">
                            стоимость от
                            {{searchParam.Price[0]}}
                            до
                            {{searchParam.Price[1]}}
                            <div ui-slider="{range: true}" min="0" max="10000" step="100" use-decimals ng-model="searchParam.Price"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" value="" ng-click="salonTypeClick()" ng-model="searchParam.IsSalon">Салоны</label>
                                <label><input type="checkbox" value="" ng-click="salonTypeClick()" ng-model="searchParam.IsFreelance">Мастера красоты</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" ng-click="resetFilter()" class="btn btn-gold Lato-Bold">Сбросить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<p>
    Салонов найдено:
    {{filtered.length}}
</p>
<div class="row">
    <div class="col-md-4 salonThumbnailPanel" ng-repeat="salon in salons | orderBy : '-Scores' | salonsFilter : searchParam as filtered">
        <div class="thumbnail">
            <a ng-href="#/salon/{{salon.Id}}">
                <img ng-if="!salon.Image" ng-src="assets/img/no-image.png" alt="...">
                <img ng-if="salon.Image" ng-src="{{ServiceCDNUri}}/images/salons/{{salon.Image}}.jpg" alt="...">
            </a>
            <div class="caption">
                <a ng-href="#/salon/{{salon.Id}}">
                    <h4>{{salon.Name}}</h4>
                </a>
                <span>
                    ул.{{salon.Street.Name}}
                </span>
                <span ng-show="salon.House">
                    д.{{salon.House}}
                </span>
                <span ng-show="salon.Floor">
                    эт.{{salon.Floor}}
                </span>
                <span ng-show="salon.Office">
                    офис.{{salon.Office}}
                </span>
                <div ng-repeat="category in salon.Categories">
                    <a href="#/salon/{{salon.Id}}/{{category.Category.Alias}}">{{category.Category.Name}}</a>
                </div>
                <p>
                    <img class="isChashless" src="assets/img/visa.png" ng-show="salon.IsCashlessPayment" alt="Есть безналичный расчет">
                    <img class="isWifi" src="assets/img/wifi.png" ng-show="salon.IsWifi" alt="Есть Wifi">
                    <a ng-click="showOnMap(salon.Coordinates)">На карте</a>
                </p>
            </div>
        </div>
    </div>
</div>
