<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Выберите дату</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-8">
            <div uib-datepicker ng-model="$ctrl.date" class="well well-sm" datepicker-options="options"></div>
        </div>
        <div class="col-sm-3">
            <div uib-timepicker ng-model="$ctrl.date" hour-step="1" minute-step="15" show-meridian="ismeridian"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Ок</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Отмена</button>
</div>
