<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Выберите город</h3>
</div>
<div class="modal-body" id="modal-body">
    <div ng-repeat="city in $ctrl.cities">
        <a href="#/" ng-click="$ctrl.pick(city)">{{city.Name}}</a>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Отмена</button>
</div>
