<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Загрузка изображения</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="text-center">
        <label class="btn btn-primary btn-file">
            Выберите файл
            <input type="file" style="display: none;" accept=".jpg"img-cropper-fileread image="$ctrl.image"/>
        </label>
        <canvas
            ng-show="$ctrl.image!=null"
            class="thumbnail"
            width="800"
            height="600"
            id="canvas"
            image-cropper
            image="$ctrl.image"
            cropped-image="$ctrl.croppedImage"
            crop-width="$ctrl.size.width"
            crop-height="$ctrl.size.height"
            min-width="$ctrl.size.minWidth"
            min-height="$ctrl.size.minHeight"
            keep-aspect="true"
            crop-area-bounds="bounds"></canvas>
    </div>
</div>
{{ctrl}}
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Готово</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Отмена</button>
</div>
