<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Загрузка портфолио</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="text-center">
        <label class="btn btn-primary btn-file">
            Выберите файл
            <input type="file" style="display: none;" img-cropper-fileread image="$ctrl.image"/>
        </label>
        <canvas
            ng-show="$ctrl.image!=null"
            class="thumbnail"
            width="1024"
            height="768"
            id="canvas"
            image-cropper
            image="$ctrl.image"
            cropped-image="$ctrl.croppedImage"
            crop-width="$ctrl.width"
            crop-height="data.height"
            min-width="data.width"
            min-height="data.height"
            keep-aspect="true"
            crop-area-bounds="bounds"></canvas>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Готово</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Отмена</button>
</div>
