<div ng-repeat="promotion in promotions">
    <div class="col-sm-6">
        <div ng-if="!isHaveSchedule">
            <a data-toggle="modal" data-target="#myModal">
                <div class="thumbnail">
                    <img ng-src="{{path(promotion.Image)}}" alt=""/>
                    <div class="caption">
                        <h3>{{promotion.Title}}</h3>
                    </div>
                </div>
            </a>
        </div>
        <div ng-if="isHaveSchedule">
            <a ng-href="#/schedule/0/0/{{promotion.Id}}/0">
                <div class="thumbnail">
                    <img ng-src="{{path(promotion.Image)}}" alt=""/>
                    <div class="caption">
                        <h3>{{promotion.Title}}</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Онлайн запись</h4>
            </div>
            <div class="modal-body">
                <p>Для возможности онлайн записи, вы должны пройти регистрацию</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="registerClick()">Регистрация</button>
            </div>
        </div>
    </div>
</div>
