<form ng-submit="submit()">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon supplier-column">Название</span>
            <input type="text" class="form-control" ng-model="supplier.name">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Город</span>
            <input type="text" ng-model="supplier.city.name" uib-typeahead="city as city.name for city in cities | filter:$viewValue" typeahead-loading="loadingLocations" class="form-control" typeahead-on-select="selectCity($item)" ng-blur="leaveCity()"/>
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Улица</span>
            <input
                type="text"
                ng-model="supplier.street.name"
                uib-typeahead="street as street.name for street in supplierstreets | filter:$viewValue"
                typeahead-loading="loadingLocations"
                class="form-control"
                typeahead-on-select="selectStreet($item)"
                ng-blur="leaveStreet()"/>
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Дом</span>
            <input type="text" class="form-control" ng-model="supplier.house">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input type="text" class="form-control" ng-model="supplier.email.address">
        </div>
    </div>
    <div class="form-group">
        <label>Описание</label>
        <textarea class="form-control" ng-model="supplier.description" rows="10"></textarea>
    </div>
    <div class="form-group">
        <div ng-repeat="err in errors">
            <div class="alert alert-warning" role="alert">{{err[0]}}</div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" name="button">Сохранить</button>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Телефоны</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input type="text" class="form-control" ng-model="newPhone.number" ui-mask="+9(999)999-99-99" ng-change="addNewPhone()" ui-mask-placeholder ui-mask-placeholder-char="_"/>
                </div>
            </div>
            <div class="form-group" ng-repeat="phone in supplier.phones">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-default" type="button" ng-click="removePhone(phone)">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input type="text" class="form-control" ng-model="phone.number" ui-mask="+9(999)999-99-99" ng-model-options='{ debounce: 1000 }' ng-change="changePhone(phone)" ui-mask-placeholder ui-mask-placeholder-char="_"/>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Время работы</div>
        <div class="panel-body">
            <div class="row" ng-show="daysofweek.length>0">
                <div class="col-sm-3">
                    <div class="form-group">
                        <select class="form-control" ng-options="day as day.name for day in daysofweek" ng-model="worktime.dayofweek"></select>
                    </div>
                    <button class="btn btn-default" type="button" ng-click="postworktime()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-sm-3">
                    <div class="time-picker" uib-timepicker ng-model="worktime.open" hour-step="1" minute-step="15" show-meridian="false"></div>
                </div>
                <div class="col-sm-3">
                    <div class="time-picker" uib-timepicker ng-model="worktime.close" hour-step="1" minute-step="15" show-meridian="false"></div>
                </div>
            </div>
            <div class="row" ng-repeat="time in supplier.workTimes">
                <div class="col-sm-3">
                    <div class="form-group">
                        {{time.dayOfWeek.name}}
                    </div>
                    <button class="btn btn-default" type="button" ng-click="removeWorktime(time)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-sm-3">
                    <div class="time-picker" uib-timepicker ng-model="time.open" ng-model-options='{ debounce: 2000 }' ng-change="changeWorkTime(time)" hour-step="1" minute-step="15" show-meridian="false"></div>
                </div>
                <div class="col-sm-3">
                    <div class="time-picker" uib-timepicker ng-model="time.close" ng-model-options='{ debounce: 2000 }' ng-change="changeWorkTime(time)" hour-step="1" minute-step="15" show-meridian="false"></div>
                </div>
            </div>
        </div>
    </div>
</form>
