<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-login" role="form">
            <h2 class="form-login-heading">Вход</h2>
            <div class="form-group">
                <label for="InputPhone">Номер телефона</label>
                <input type="text" class="form-control" id="InputPhone" ng-model="loginData.userName" name="phone" ui-mask="+9(999)999-9999" ui-mask-placeholder ui-mask-placeholder-char=" " required>
            </div>
            <div class="form-group">
                <label for="InputPassword">Пароль</label>
                <input type="password" class="form-control" id="InputPassword" placeholder="Пароль" data-ng-model="loginData.password" required>
            </div>
            <button class="btn btn-primary form-control" type="submit" data-ng-click="login()">Войти</button>
            <span data-ng-hide="message == ''" class="label label-warning">{{message}}</span>
        </form>
    </div>
</div>
