<form ng-submit="submit()">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">ФИО</span>
            <input type="text" class="form-control" ng-model="profile.Name">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Телефон</span>
            <input type="text" class="form-control" ng-model="profile.Phone" ui-mask="+9(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_"/>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span>Номер телефона подтвержден</span>
            <switch on="да" off="нет" disabled="true" ng-model="profile.PhoneIsConfirmed" class="green"></switch>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input type="text" class="form-control" ng-model="profile.Email">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span>Email подтвержден</span>
            <switch on="да" off="нет" disabled="true" ng-model="profile.EmailIsConfirmed" class="green"></switch>
        </div>
    </div>
    <div class="form-group">
        <label>Дата рождения</label>
        <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="profile.BirthDay" is-open="profile.BirthDayOpened" close-text="Закрыть"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openBirthDay()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <button class="form-control" type="submit" name="button">Сохранить</button>
</form>
