<!DOCTYPE html>
<html ng-app="app" ng-controller="main-controller">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title ng-bind="$root.title + ' Beauty plaza'">Beauty plaza</title>
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico"/>`
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/angular-ui-switch.css">
        <link rel="stylesheet" type="text/css" href="assets/css/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="assets/css/ng-img-crop.css">
        <link rel="stylesheet" type="text/css" href="assets/css/textAngular.css">
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
        <script type="text/javascript" src="http://vk.com/js/api/share.js?94" charset="windows-1251"></script>
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
    </head>
    <body>
        <!-- VK Widget -->
        <!-- <div id="vk_community_messages"></div>
        <script type="text/javascript">
            VK.Widgets.CommunityMessages("vk_community_messages", 132322031, {shown: "0"});
        </script> -->
        <!-- end VK Widget -->

        <!-- Facebook Widget -->
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- end Facebook Widget -->

        <div class="container-fluid">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="panel panel-default rounded">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#/">
                                    <img src="assets/img/logo.png" alt="" id="logo"/>
                                </a>
                            </div>
                            <div class="col-lg-7 col-md-6 padding-top">
                                <p class="text-center" id="slogan">Ãèä â ñôåðå êðàñîòû è çäîðîâüÿ</p>
                                <div ng-hide="bodyFilterPanelHidden">
                                    <div class="horizontal-collapse" uib-collapse="filterPanelHiden" horizontal>
                                        <div class="panel panel-default rounded">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <input
                                                                typeahead-on-select="salonChoise(searchParam.Name)"
                                                                type="text"
                                                                class="form-control"
                                                                ng-model="searchParam.Name"
                                                                uib-typeahead="salon as salon.Name for salon in salonNames | filter:$viewValue"
                                                                placeholder="Название"
                                                                ng-model-options='{ debounce: 1000 }'/>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" ng-model="searchParam.Service" uib-typeahead="service as service.Name for service in services | filter:$viewValue" placeholder="Услуга" ng-model-options='{ debounce: 1000 }'/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" ng-model="searchParam.Street" uib-typeahead="street as street.Name for street in streets | filter:$viewValue" placeholder="Улица" ng-model-options='{ debounce: 1000 }'/>
                                                        </div>
                                                        <div class="form-group">
                                                            стоимость от
                                                            {{searchParam.Price[0]}}
                                                            до
                                                            {{searchParam.Price[1]}}
                                                            <div ui-slider="{range: true}" min="0" max="10000" step="100" use-decimals ng-model="searchParam.Price"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="" ng-model="searchParam.IsSalon">
                                                                    <span class="Lato-Regular" style="font-size:16px">Салоны</span>
                                                                </label>
                                                                <label><input type="checkbox" value="" ng-model="searchParam.IsFreelance">
                                                                    <span class="Lato-Regular" style="font-size:16px">Мастера красоты</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" ng-click="filterClick()" class="btn btn-gold Lato-Bold">Применить</button>
                                                            <button type="button" ng-click="filterPanelHiden = !filterPanelHiden" class="btn btn-purple">Отмена</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-3 padding-top">
                                <div class="text-left" ng-show="authentication.isAuth">
                                    <p>
                                        Добро пожаловать,
                                    </p>
                                    <p ng-bind="authentication.userName"></p>
                                </div>
                                <table class="top-menu table-nonfluid" align="left">
                                    <tr ng-hide="authentication.isAuth">
                                        <td class="top-menu-icon top-menu">
                                            <span id="top-menu-icon-register"></span>
                                        </td>
                                        <td class="top-menu">
                                            <a class="top-menu" href="#/register">
                                                РЕГИСТРАЦИЯ</a>
                                        </td>
                                    </tr>
                                    <tr ng-hide="authentication.isAuth">
                                        <td></td>
                                        <td class="top-menu">
                                            <a class="top-menu" href="#/login">
                                                ВХОД</a>
                                        </td>
                                    </tr>
                                    <tr ng-show="authentication.isAuth">
                                        <td></td>
                                        <td class="top-menu">
                                            <a class="top-menu" href="" data-ng-click="logOut()">
                                                ВЫЙТИ</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="top-menu">
                                            <a class="top-menu" href="#/about">О НАС</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <!-- Put this script tag to the place, where the Share button will be -->
                                            <script type="text/javascript">
                                                <!--
                                                document.write(VK.Share.button(false, {
                                                    type: "round",
                                                    text: "Сохранить"
                                                }));

                                                -->
                                            </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div id="ok_shareWidget"></div>
                                            <script>
                                                !function(d, id, did, st, title, description, image) {
                                                    var js = d.createElement("script");
                                                    js.src = "https://connect.ok.ru/connect.js";
                                                    js.onload = js.onreadystatechange = function() {
                                                        if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                                                            if (!this.executed) {
                                                                this.executed = true;
                                                                setTimeout(function() {
                                                                    OK.CONNECT.insertShareWidget(id, did, st, title, description, image);
                                                                }, 0);
                                                            }
                                                        }
                                                    };
                                                    d.documentElement.appendChild(js);
                                                }(document, "ok_shareWidget", document.URL, '{"sz":20,"st":"rounded","ck":2}', "", "", "");
                                            </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="fb-share-button" data-href="http://bp.style" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                                                <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbp.style%2F&amp;src=sdkpreparse">Поделиться</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-gold" id="search-in-services" ng-hide="bodyFilterPanelHidden" ng-show="filterPanelHiden" ng-click="filterPanelHiden = !filterPanelHiden">
                                    <span id="search-in-services-ico"></span>
                                    поиск по услугам
                                </button>
                            </div>
                            <div class="col-sm-7">
                                <a id="city" ng-click="choiseCity()">
                                    <p ng-bind="city.Name" class="purple-text bold text-right">
                                        Город
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <!-- <div class="panel-body"> -->
                            <ul class="nav nav-pills nav-stacked Lato-Regular">
                                <li ng-show="!authentication.isAuth || authentication.role=='Client'" role="presentation">
                                    <a ng-click="categoryClick(0,true,false)">САЛОНЫ КРАСОТЫ</a>
                                </li>
                                <li ng-class="getCategoryStyle(cat.Id)" ng-show="!authentication.isAuth || authentication.role=='Client'" role="presentation" ng-repeat="cat in categories">
                                    <a ng-click="categoryClick(cat.Id,true,true)" ng-bind="cat.Name.toUpperCase()"></a>
                                </li>
                                <li ng-show="!authentication.isAuth || authentication.role=='Client'" role="presentation">
                                    <a ng-click="categoryClick(0,false,true)">МАСТЕРА КРАСОТЫ</a>
                                </li>
                                <li data-ng-show="authentication.isAuth && authentication.role=='Salon'" ng-repeat="salon in userSalons" role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {{salon.Name}}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a ng-href="#/salon-about/{{salon.Id}}">О салоне</a>
                                        </li>
                                        <li>
                                            <a ng-href="#/salon-services/{{salon.Id}}">Услуги и портфолио</a>
                                        </li>
                                        <li>
                                            <a ng-href="#/salonPaidServices/{{salon.Id}}">Платные услуги</a>
                                        </li>
                                    </ul>
                                </li>
                                <li data-ng-show="authentication.isAuth && authentication.role=='Supplier'" ng-repeat="sup in supplierFirms" role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {{sup.name}}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a ng-href="#/supplier-about/{{sup.id}}">О фирме</a>
                                        </li>
                                        <li>
                                            <a ng-href="#/supplier-services/{{sup.id}}">Товары и услуги</a>
                                        </li>
                                        <li>
                                            <a ng-href="#/salonPaidServices/{{sup.id}}">Платные услуги</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Salon'" role="presentation">
                                    <a href="#/salonSchedules">Записи<span class="badge">3</span>
                                    </a>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Salon'" role="presentation">
                                    <a href="#/for-salon">Для салона</a>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Client'" role="presentation">
                                    <a href="#/schedules">Мои записи<span class="badge">3</span>
                                    </a>
                                </li>
                                <li ng-show="authentication.isAuth" role="presentation">
                                    <a href="#/messages">Сообщения<span class="badge">3</span>
                                    </a>
                                </li>
                                <li ng-show="authentication.isAuth" role="presentation">
                                    <a ng-href="#/profile">Профиль</a>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Administrator'" role="presentation">
                                    <a ng-href="#/adminRole">Роли</a>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Administrator'" role="presentation">
                                    <a ng-href="#/adminUser">Пользователи</a>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Administrator'" role="presentation">
                                    <a ng-href="#/adminCategory">Категории</a>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Administrator'" role="presentation">
                                    <a ng-href="#/adminNews">Новости</a>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Administrator'" role="presentation">
                                    <a ng-href="#/adminVacancy">Вакансии</a>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Administrator'" role="presentation">
                                    <a ng-href="#/adminHotPromotions">Горячие предложения</a>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Administrator'" role="presentation">
                                    <a ng-href="#/adminSupplierCategory">Категории поставщиков</a>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Administrator'" role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Платные услуги
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a ng-href="#/adminSchedules">Online записи</a>
                                        </li>
                                        <li>
                                            <a ng-href="#/adminBanners">Баннеры</a>
                                        </li>
                                        <li>
                                            <a ng-href="#/adminPromotions">Акции</a>
                                        </li>
                                        <li>
                                            <a ng-href="#/adminVacancy">Вакансии</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-show="authentication.isAuth && authentication.role=='Salon'" role="presentation">
                                    <a href="#/myJobs">Мои вакансии</a>
                                </li>
                            </ul>
                            <!-- </div> -->
                        </div>
                        <div class="panel panel-default rounded">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="#/vacancies">Вакансии</a>
                                </li>
                                <li>
                                    <a href="#">Резюме</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default rounded">
                            <div class="panel-body">
                                <h3 ng-show="title" class="text-center">
                                    <img src="assets/img/zavit.png"/>
                                    {{title}}
                                    <img src="assets/img/zavit.png" style="transform: scaleX(-1);"/>
                                </h3>
                                <div ng-view></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 footer">
                    <div class="col-sm-4 col-sm-offset-1">
                        <img id="logo-footer" src="assets/img/logo-white.png"/>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="assets/js/jquery-2.2.0.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>

    <!-- angular scripts -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/textAngular-rangy.min.js"></script>
    <script src="assets/js/textAngular-sanitize.min.js"></script>
    <script src="assets/js/textAngular.min.js"></script>
    <script src="assets/js/angular-clipboard.js"></script>
    <script src="assets/js/slider.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>
    <script src="assets/js/angular-touch.min.js"></script>
    <script src="assets/js/angular-img-cropper.min.js"></script>
    <script src="assets/js/checklist-model.js"></script>
    <script src="assets/js/ui-bootstrap.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-2.1.3.min.js"></script>
    <script src="assets/js/angular-ui-switch.js"></script>
    <script src="assets/js/ng-img-crop.js"></script>
    <script src="assets/js/ng-file-upload-all.min.js"></script>
    <script src="assets/js/angular-route.min.js"></script>
    <script src="assets/js/angular-cookies.min.js"></script>
    <script src="assets/js/angular-locale_ru-ru.js"></script>
    <script src="assets/js/ngStorage.min.js"></script>
    <script src="assets/js/angular-local-storage.min.js"></script>
    <script src="assets/js/mask.js"></script>

    <!-- application scripts -->
    <script src="app/app.js"></script>
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/tokensManagerService.js"></script>
    <script src="app/services/schedule.js"></script>
    <script src="app/services/salon.js"></script>
    <script src="app/services/service.js"></script>
    <script src="app/services/banner.js"></script>
    <script src="app/services/freelance.js"></script>
    <script src="app/services/category.js"></script>
    <script src="app/services/portfolio.js"></script>
    <script src="app/services/price.js"></script>
    <script src="app/services/city.js"></script>
    <script src="app/services/street.js"></script>
    <script src="app/services/promotion.js"></script>
    <script src="app/services/hotPromotions.js"></script>
    <script src="app/services/review.js"></script>
    <script src="app/services/news.js"></script>
    <script src="app/services/vacancy.js"></script>
    <script src="app/services/supplier.js"></script>
    <script src="app/services/worktime.js"></script>
    <script src="app/services/supplierCategory.js"></script>
    <script src="app/services/supplierProduct.js"></script>
    <script src="app/app-controller.js"></script>
    <script src="app/app-filter.js"></script>
    <script src="app/app-services.js"></script>
    <script src="app/app-config.js"></script>
    <script src="app/app-run.js"></script>
    <script src="app/components/messages/messages-controller.js"></script>
    <script src="app/components/phoneVerification/phoneVerification-controller.js"></script>
    <script src="app/components/promotions/promotions-controller.js"></script>
    <script src="app/components/promotion/promotion-controller.js"></script>
    <script src="app/components/messages/messages-service.js"></script>
    <script src="app/components/salonPaidServices/salonPaidServices-controller.js"></script>
    <script src="app/components/salonPaidServices/salonPaidServices-service.js"></script>
    <script src="app/components/salon-services/salonServices-controller.js"></script>
    <script src="app/components/home/home-controller.js"></script>
    <script src="app/components/salons/salon-controller.js"></script>
    <script src="app/components/salonInfo/salonInfo-controller.js"></script>
    <script src="app/components/login/login-controller.js"></script>
    <script src="app/components/admin/users/users-controller.js"></script>
    <script src="app/components/admin/users/users-service.js"></script>
    <script src="app/components/admin/roles/roles-service.js"></script>
    <script src="app/components/admin/roles/roles-controller.js"></script>
    <script src="app/components/admin/news/adminNews-controller.js"></script>
    <script src="app/components/admin/schedules/schedule-controller.js"></script>
    <script src="app/components/admin/banners/banner-controller.js"></script>
    <script src="app/components/admin/category/category-controller.js"></script>
    <script src="app/components/admin/hotPromotions/hotPromotions-controller.js"></script>
    <script src="app/components/admin/vacancy/vacancy-controller.js"></script>
    <script src="app/components/admin/supplier-category/supplier-category-controller.js"></script>
    <script src="app/components/admin/promotionsAdmin/promotionsAdmin-controller.js"></script>    
    <script src="app/components/salon/salon-controller.js"></script>
    <script src="app/components/schedule/schedule-controller.js"></script>
    <script src="app/components/schedules/schedules-controller.js"></script>
    <script src="app/components/salonSchedules/salonSchedules-controller.js"></script>
    <script src="app/components/modals/changeDateOfSchedule-controller.js"></script>
    <script src="app/components/modals/pickDate.js"></script>
    <script src="app/components/modals/pickPortfolio-controller.js"></script>
    <script src="app/components/modals/pickLogo-controller.js"></script>
    <script src="app/components/modals/choiseCity-controller.js"></script>
    <script src="app/components/about/about-controller.js"></script>
    <script src="app/components/register/register-controller.js"></script>
    <script src="app/components/vacancies/vacancies-controller.js"></script>
    <script src="app/components/news/news-controller.js"></script>
    <script src="app/components/profile/profile-controller.js"></script>
    <script src="app/components/my-vacancies/my-vacancies-controller.js"></script>
    <script src="app/components/salons/salons-filter.js"></script>
    <script src="app/components/supplier-about/supplier-about-controller.js"></script>
    <script src="app/components/supplier-services/supplier-services-controller.js"></script>
    <script src="app/components/for-salon/for-salon-controller.js"></script>
</html>
