<form ng-show="category.visible" ng-submit="submit(category)">
    <img ng-show="category.CroppedImage" ng-src="{{category.CroppedImage}}">
    <br>
    <input type="text" ng-model="category.Name">
    <button type="button" ng-click="upload(category)">Загрузить</button>
    <button type="submit" ng-show="category.CroppedImage && category.Name">Готово</button>
</form>

<button type="button" class="btn btn-default" ng-click="category.visible = !category.visible" ng-hide="category.visible">Добавить</button>

<table class="table">
    <th>
        Название
    </th>
    <th></th>
    <th>
        Приоритет
    </th>
    <th>
        Удалить
    </th>
    <tr ng-repeat="cat in categories">
        <td style="width:300px;">
            <input type="text" class="form-control" ng-model="cat.Name" ng-model-options="{ debounce: 1000 }" ng-change="update(cat)">
        </td>
        <td>
            <img class="category-min" ng-src="{{path(cat.Image)}}" ng-click="upload(cat)"/>
        </td>
        <td>
            <input type="text" class="form-control" ng-model="cat.Priority" ng-model-options="{ debounce: 1000 }" ng-change="update(cat)">
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="delete(cat)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
</table>
<div >
    {{c}}
</div>
