<form ng-submit="submit()">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Название</span>
            <input type="text" class="form-control" placeholder="Название" ng-model="newcategory.name">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Изображение</span>
            <button type="button" class="btn btn-default" ng-click="upload(newcategory)" ng-disabled="!newcategory.name">Загрузить</button>
        </div>
    </div>
    <div class="form-group" ng-if="newcategory.image">
        <div class="row">
            <div class="col-sm-3">
                <img ng-src="{{newcategory.image}}"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div ng-repeat="err in error">
            <div class="alert alert-warning" role="alert">{{err[0]}}</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Готово</button>
    </div>
</form>

<div ng-repeat="cat in categories">
    <div class="thumbnail">
        <p class="text-right">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="delete(cat)"></span>
            </button>
        </p>
        <img ng-src="{{path(cat.image)}}" alt="" ng-click="upload(cat)"/>
        <div class="caption">
            <div class="form-group">
                <input type="text" ng-model="cat.name" ng-change="change(cat)" ng-model-options="{ debounce: 2000 }" class="form-control">
            </div>
            <div class="form-group" ng-repeat="prod in cat.supplierProducts">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="prod.isActive" ng-change="changeProduct(cat.id,prod)">
                    </span>
                    <input type="text" class="form-control" ng-model="prod.name" ng-change="changeProduct(cat.id,prod)" ng-model-options="{ debounce: 2000 }">
                </div>
            </div>
        </div>
    </div>
    <form ng-submit="submitProduct(cat,newProduct)">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newProduct">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" ng-disabled="!newProduct">Добавить</button>
        </div>
    </form>
</div>
