<form ng-submit="submit()" name="registerForm" novalidate>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2">
                Фамилия
            </label>
            <div class="col-sm-10">
                <input type="text" name="secondName" ng-model="user.FirstName" required>
                <span class="label label-warning" ng-show="!registerForm.secondName.$valid && registerForm.secondName.$touched ">Поле не заполнено</span>
                <span class="label label-warning" ng-show="error['model.SecondName']">{{error['model.SecondName'][0]}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2">
                Имя
            </label>
            <div class="col-sm-10">
                <input type="text" name="firstName" ng-model="user.SecondName" required>
                <span class="label label-warning" ng-show="!registerForm.firstName.$valid && registerForm.firstName.$touched ">Поле не заполнено</span>
                <span class="label label-warning" ng-show="error['model.FirstName']">{{error['model.FirstName'][0]}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2">
                Отчество
            </label>
            <div class="col-sm-10">
                <input type="text" name="patronomicName" ng-model="user.PatronomicName" required>
                <span class="label label-warning" ng-show="!registerForm.patronomicName.$valid && registerForm.patronomicName.$touched ">Поле не заполнено</span>
                <span class="label label-warning" ng-show="error['model.PatronomicName']">{{error['model.PatronomicName'][0]}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2">
                Email
            </label>
            <div class="col-sm-10">
                <input type="Email" ng-model="user.Email" name="email" required>
                <span class="label label-warning" ng-show="!registerForm.email.$valid && registerForm.email.$touched ">Поле не верно заполнено</span>
                <span class="label label-warning" ng-show="error['model.Email']">{{error['model.Email'][0]}}</span>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2">
                Пароль
            </label>
            <div class="col-sm-10">
                <input type="password" ng-model="user.Password" name="password" required ng-minlength="6">
                <span class="label label-warning" ng-show="!registerForm.password.$valid && registerForm.password.$touched ">Минимальная длинна 6 символов</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2">
                Подтверждение пароля
            </label>
            <div class="col-sm-10">
                <input type="password" ng-model="user.PasswordConfirmation" name="passwordConfirm" required>
                <span class="label label-warning" ng-show="user.Password != user.PasswordConfirmation && registerForm.passwordConfirm.$touched ">Пароли не совпадают</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2">
                Номер телефона
            </label>
            <div class="col-sm-10">
                <input type="text" ng-model="user.Phone" name="phone" ui-mask="+9(999)999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" required>
                <span class="label label-warning" ng-show="!registerForm.phone.$valid && registerForm.phone.$touched ">Поле не заполнено</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2">
                Дата рождения
            </label>
            <div class="col-sm-10">
                <div uib-datepicker ng-model="user.DateBirthday" class="well well-sm" datepicker-options="options"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>
            <input type="radio" ng-model="user.Role" value="Client">
            Клиент
        </label>
        <label>
            <input type="radio" ng-model="user.Role" value="Salon">
            Салон
        </label>
        <label>
            <input type="radio" ng-model="user.Role" value="Freelance">
            Мастер красоты
        </label>
        <label>
            <input type="radio" ng-model="user.Role" value="Supplier">
            Поставщик/Уч.центр
        </label>
    </div>
    <div ng-show="user.Role!='Client'">
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2" ng-show="user.Role=='Salon' || user.Role=='Freelance'">
                    Название салона
                </label>
                <label class="col-sm-2" ng-show="user.Role=='Supplier'">
                    Название фирмы
                </label>
                <div class="col-sm-10">
                    <input type="text" ng-model="user.FirmName" name="salon" ng-required="user.Role!='Client'">
                    <span class="label label-warning" ng-show="!registerForm.salon.$valid && registerForm.salon.$touched ">Поле не заполнено</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2">Город</label>
                <div class="col-sm-10">
                    <input typeahead-on-select="cityClick()" name="city" type="text" ng-model="user.City" uib-typeahead="city as city.Name for city in cities | filter:$viewValue" ng-required="user.Role!='Client'">
                    <span class="label label-warning" ng-show="!registerForm.city.$valid && registerForm.city.$touched ">Поле не заполнено</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2">Улица</label>
                <div class="col-sm-10">
                    <input type="text" name="street" ng-model="user.Street" uib-typeahead="street as street.Name for street in streets | filter:$viewValue" ng-required="user.Role!='Client'">
                    <span class="label label-warning" ng-show="!registerForm.street.$valid && registerForm.street.$touched ">Поле не заполнено</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="error">
        <div class="label label-warning" ng-repeat="e in error.error">{{e}}</div>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid || user.Password != user.PasswordConfirmation || (user.Role!='Client' && (user.City.Id == null || user.Street.Id == null))">Зарегистрироваться</button>
</form>
