<form ng-show="promotion.visible" ng-submit="submit(promotion)">
    <img ng-show="promotion.CroppedImage" ng-src="{{category.CroppedImage}}">
    <br>
    <div class="form-group">
        <label>Заголовок</label>
        <input type="text" class="form-control" ng-model="promotion.Title">
    </div>
    <div class="form-group">
        <label>Текст</label>
        <input type="text" class="form-control" ng-model="promotion.Body">
    </div>
    <div class="form-group">
        <label>Вес</label>
        <input type="text" class="form-control" ng-model="promotion.Weight">
    </div>
    <div class="form-group">
        <label>Салон</label>
        <input type="text" class="form-control" ng-model-options="{ debounce: 1000 }" ng-model="promotion.Firm" uib-typeahead="salon as salon.Name for salon in salonNames | filter:$viewValue" placeholder="Салон"/>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="form-control" ng-click="upload(promotion)">Загрузить</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button type="submit" class="form-control" ng-disabled="!promotion.CroppedImage || !promotion.Title || !promotion.Body || !promotion.Weight || !promotion.Firm.Id">Готово</button>
        </div>
    </div>
</form>

<button type="button" class="btn btn-default" ng-click="promotion.visible = !promotion.visible" ng-hide="promotion.visible">Добавить</button>

<div class="row">
  <div ng-repeat="hot in hotPromotions" class="col-sm-6">
    <div class="thumbnail">
        <img ng-src="{{pathHot(hot.Image)}}"/>
        <div class="caption">
          <input type="text" class="form-control" ng-model="hot.Title">
          <input type="text" class="form-control" ng-model="hot.Body">
          <input type="text" class="form-control" ng-model-options="{ debounce: 1000 }" ng-model="hot.Firm" uib-typeahead="salon as salon.Name for salon in salonNames | filter:$viewValue" placeholder="Салон"/>
          <input type="text" class="form-control" ng-model="hot.Weight">
        </div>
      </div>
  </div>
</div>
