<div ng-show="post">
    <form name="formEdit" ng-submit="editNews()">
        <div class="form-group">
            <label for="title">Заголовок статьи</label>
            <input type="text" ng-model="post.Title" class="form-control">
        </div>
        <div class="form-group">
            <label for="title">Превью</label>
            <input type="text" ng-model="post.Preview" class="form-control">
        </div>
        <div class="form-group">
            <div text-angular="text-angular" name="htmlcontent" ng-model="post.Body" ta-disabled='disabled'></div>
        </div>
        <button type="submit" class="btn btn-default">Сохранить</button>
    </form>
    <h1>Предварительный просмотр</h1>
    <div class="row">
        <div class="col-sm-12">
            <div ta-bind="text" ng-model="post.Body" ta-readonly='disabled'></div>
        </div>
    </div>
    <h1>Титульное изображение</h1>
    <button class="btn btn-default" ng-click="pickTitleImage()">Загрузить</button>
    <img class="newsTitle" ng-src="{{pathToImage(post.TitleImage.Image)}}"/>
    <h1>Изображения</h1>
    <div class="row">
        <div class="col-sm-3" ng-repeat="image in post.Images">
            <img class="newsImage" ng-src="{{pathToImage(image.Image)}}"/>
            <button class="form-control" clipboard supported="supported" text="pathToImage(image.Image)" on-copied="success()" on-error="fail(err)">Скопировать</button>
            <button class="form-control" ng-click="deleteImage(image)">Удалить</button>
        </div>
    </div>
    <button type="button" class="btn btn-default btn-sm" ng-click="pickImage()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
<div ng-hide="post">
    <form name="form" ng-submit="addNews()">
        <div class="form-group">
            <label for="title">Заголовок статьи</label>
            <input type="text" class="form-control" ng-model="postNews.Title" name="title" ng-minlength="5" required>
            <div ng-show="form.title.$error.minlength">Не менее 5 символов.</div>
        </div>
        <button class="btn btn-default" type="submit" ng-show="form.$valid">Опубликовать новость</button>
    </form>
    <div ng-repeat="p in news" ng-click="newsClick(p.Id)">
        <h3>{{p.Title}}</h3>
        <div class="row">
            <div class="col-sm-3"><img class="newsImage" ng-src="{{pathToImage(p.TitleImage.Image)}}"/></div>
            <div class="col-sm-9">
                <div ng-bind-html="p.Preview"></div>
            </div>
        </div>
    </div>
</div>
