<div ng-repeat="category in categories">
    <div class="col-sm-6">
        <a href="#/promotion/{{category.Alias}}">
            <div class="thumbnail">
                <img ng-src="{{path(category.Image)}}"/>
                <div class="caption">
                    <h3>{{category.Name}}</h3>
                </div>
            </div>
        </a>
    </div>
</div>
